<ion-header>
  <ion-navbar>
    <ion-title>SunVibe</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-8>
        <div>You have</div>
        <div style='font-size:2em'>
          <span>{{ userData.tokenCount}}</span> tokens
        </div>
      </ion-col>
      <ion-col col-4>
        <button ion-button style="float:right" (click)="buyTokenSelected($event)">Buy Token</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <p>Ways to make money:</p>
        <p>
          <ion-icon name="sunny" style="color: gold"></ion-icon>
          Buy gold tokens to support building new solar panels.
        </p>
        <p>
          <ion-icon name="sunny" style="color: green"></ion-icon>
          Sell or buy green tokens from the Exchange.
        </p>
        <h3>Payout</h3>

        <div padding>
          <ion-segment [(ngModel)]="payoutMode">
            <ion-segment-button value="dividend">
              Dividend
            </ion-segment-button>
            <ion-segment-button value="trade">
              Trade
            </ion-segment-button>
          </ion-segment>
        </div>

        <div [ngSwitch]="payoutMode">
          <ion-list *ngSwitchCase="'dividend'">
            <button ion-item *ngFor="let item of userData.dividendTransactions" (click)="itemSelected(item)">
              {{ item.month }}
              <span item-end>{{ item.amount }}</span>
            </button>
          </ion-list>
          <ion-list *ngSwitchCase="'trade'">
            <button ion-item *ngFor="let item of userData.tradeTransactions" (click)="itemSelected(item)">
              <ion-avatar item-start>
                <img src="{{ item.avatarUrl }}">
              </ion-avatar>
              <p>{{ item.time }}</p>
              <h3>{{ item.description }}</h3>
              <p>{{ item.status }}</p>
              <div item-end style="text-align: right">
                <div> {{ item.ETH }} ETH </div>
                <p> {{ item.VND }} VND </p>
              </div>
            </button>
          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>